.container-Ho{
    width: 100%;
    height: auto;
    background: linear-gradient(60deg,#92ace6),var(--clr-primary);
    background-color: var(--clr-primary);
    margin: -10px;
    padding-bottom: 20px;
}
.content-Ho{
    padding-top: 80px !important ;
    width: 90%;
    height: auto;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-Ho .left-side-Ho{
    width: 45%;

}
.content-Ho .left-side-Ho h2{
  font-size: 70px;
  font-weight: 700;
  color: var(--clr-white);
}
.content-Ho .left-side-Ho p{
  font-size: 15px;
  font-weight: 200;
  color: #333131;
  
}
.content-Ho .left-side-Ho input{
  width: 90%;
  height: 44px;
  border: 3px solid #8a8787;
  border-left: none;
  border-right: none;
  padding: 4px 10px;
  font-size: 25px;
  outline: none;
  
}
.content-Ho .left-side-Ho .inp-con{
  display: flex;
  align-items: center; 
}
.content-Ho .left-side-Ho .inp{
  width: 5%;
  height: 44px;
  background-color: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-primary);
  font-size: 20px;
  border: 3px solid #8a8787;
  padding: 4px 10px;
}
.l{
    border-right: none !important;
    border-top-left-radius: 0 !important;
}
.r{
    border-left: none !important;
}
.content-Ho .left-side-Ho h2{
  font-size: 70px;
  font-weight: 700;
  color: var(--clr-white);
}
.content-Ho .left-side-Ho .inp button{
    padding: 7px 10px;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    font-size: 14px;
    border-radius: 4px;
    border: none;
    outline: none;
    margin-right: 50px;
}
.numbers-Ho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.numbers-Ho .Prem-Pro{
    text-align: center;

}
.numbers-Ho .Hap-Cust{
    text-align: center;

}
.numbers-Ho .Awar-Win{
    text-align: center;

}
.numbers-Ho h3{
    font-size: 24px;
    margin: 25px 0px 0px 0px;
    color: cornsilk ;                                        ;
    font-family: Arial, Helvetica, sans-serif;
}
.numbers-Ho h4{
    font-size: 15px;
    margin: 0px;
    color: #000;

}
.numbers-Ho h3 span{
    text-align: center;
    width: 1px !important;
    height: 1px !important;
    color: var(--clr-orange);
}









.content-Ho .right-side-Ho{
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-Ho .right-side-Ho .cader{
    width: 400px;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url(../../asets/hero-image.png);
    border-radius: 200px 200px 0 0;
    border: 10px solid #3c8bf3;

}